@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,600,700&display=swap");
@import "libs/skel";
@import "libs/vars";

@include skel-breakpoints(
  (
    xlarge: "(max-width: 1680px)",
    large: "(max-width: 1280px)",
    medium: "(max-width: 980px)",
    small: "(max-width: 736px)",
    xsmall: "(max-width: 480px)",
    xxsmall: "(max-width: 360px)",
  )
);

@include skel-layout(
  (
    reset: "full",
    boxModel: "border",
  )
);

ul {
  @include vendor("display", "flex");
  li > svg {
    margin-right: 5px;
    margin-left: 5px;
  }
}

html {
  background-color: $palette-bg;
  color: $palette-font;
}

@import "layout/typography";
@import "layout/container";
@import "layout/header";
@import "layout/modal";
@import "layout/button";
@import "layout/transitions";
