@include breakpoint(xsmall) {
  html,
  body {
    min-width: 320px;
  }
}

html {
  background-color: $palette-bg;
  font-size: 16pt;

  @include breakpoint(xlarge) {
    font-size: 12pt;
  }

  @include breakpoint(small) {
    font-size: 11pt;
  }

  @include breakpoint(xxsmall) {
    font-size: 10pt;
  }
}

body {
  font-family: $font-main;
  font-weight: $font-weight;
  font-size: 1rem;
  line-height: 1.65;
}

h1,
h2,
h3 {
  color: $palette-font;
  font-weight: $font-weight;
  line-height: 1.5;
  font-size: 2.25rem;
  letter-spacing: $font-spacing;

  span {
    font-weight: $font-weight-bold;
    color: $palette-fg;
  }
}

h2 {
  border-bottom: solid $size-b-width $palette-font;
  font-weight: $font-weight-bold;
  font-size: 1.65rem;
  text-transform: uppercase;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -ms-max-content;
  width: max-content;
}

h3 {
  font-weight: $font-weight-bold;
  font-size: 1.05rem;
  text-transform: uppercase;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -ms-max-content;
  width: max-content;
}

@include breakpoint(small) {
  h1 {
    font-size: 1.65rem;
    line-height: 1.4;
    @include breakpoint(xsmall) {
      text-align: center;
    }
  }
}
