//a.download-btn,
//a.link-btn,
button,
a {
  @include vendor("appearance", "none");
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0 0.8rem 0 0.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  color: $palette-font;
  font-weight: $font-weight;
  letter-spacing: $font-spacing;
  height: $ele-size-md;
  line-height: $ele-size-md;

  &:hover {
    background-color: $palette-hover;
    &.github-btn {
      background-color: transparent;
      color: $palette-hover;
    }
  }

  &:active {
    background-color: $palette-active;
    &.github-btn {
      background-color: transparent;
      color: $palette-active;
    }
  }

  &.close-btn {
    box-shadow: none;
    margin-top: 6px;
    margin-right: 6px;
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    height: $ele-size-md;
    width: $ele-size-md;
  }

  &.download-btn {
    @extend .close-btn;
    margin-right: 51px;
    svg {
      margin-top: 5px;
    }
  }

  &.link-btn:nth-of-type(odd) {
    margin-left: auto;
  }

  &.link-btn:nth-of-type(even) {
    @include breakpoint(xsmall) {
      margin-left: auto;
    }
  }
}

button,
a:not(.github-btn) {
  @include vendor(
    "transition",
    "background-color #{$duration-transistion} ease-in-out, color #{$duration-transistion} ease-in-out"
  );
}

.github-btn {
  @include vendor(
    "transition",
    "color #{$duration-transistion} ease-in-out, color #{$duration-transistion} ease-in-out"
  );
  height: $ele-size-lg;
  width: $ele-size-lg;
  padding: 0;
}
