#header {
  @include vendor("display", "flex");
  @include vendor("flex-direction", "column");
  @include vendor("align-items", "center");
  @include vendor(
    "transition",
    (
      "transform #{$duration-normal} ease-in-out",
      "filter #{$duration-normal} ease-in-out",
      "opacity #{$duration-normal} ease-in-out"
    )
  );

  > * {
    @include vendor("transition", "opacity #{$duration-normal} ease-in-out");
    position: relative;
  }

  .title {
    padding: 3rem 2rem;
    max-height: 40rem;
    overflow: hidden;
    h1:nth-of-type(odd) {
      &:after {
        @include vendor(
          "transition",
          ("transform #{$duration-normal} ease-in-out")
        );
        display: block;
        content: "";
        border-style: solid;
        border-color: $palette-font;
        border-width: 0;
        transform: scaleX(1);
        border-bottom-width: $size-b-width;
      }
    }
  }

  nav {
    width: 100%;
    ul {
      @include vendor("display", "flex");

      li {
        width: 25%;
        padding-left: 0;

        button {
          width: 100%;
          border-radius: 0;
          box-shadow: none;
        }
      }
    }
  }

  @include breakpoint(small) {
    nav {
      &:before {
        top: -2rem;
        height: 2rem;
      }
    }

    .title {
      padding: 2.5rem 1rem;
    }
  }

  @include breakpoint(xsmall) {
    padding: 1.5rem 0;

    .title {
      padding: 2.5rem 0;
    }

    nav {
      ul {
        @include vendor("flex-direction", "column");
        //min-width: 10rem;
        max-width: 100%;

        li {
          width: 100%;
          border-left: 0;
          border-top: solid $size-b-width $palette-font;
          &:first-child {
            border-top: 0;
          }
        }
      }
    }
  }
}
