#main {
  @include vendor("flex-grow", "1");
  @include vendor("flex-shrink", "1");
  @include vendor("display", "flex");
  @include vendor("align-items", "center");
  @include vendor("justify-content", "center");
  @include vendor("flex-direction", "column");
  position: relative;
  max-width: 100%;
  z-index: 3;
  display: none;

  div {
    @include vendor("transform", "translateY(0.25rem)");
    @include vendor(
      "transition",
      (
        "opacity #{$duration-normal} ease-in-out",
        "transform #{$duration-normal} ease-in-out"
      )
    );
    display: none;
    padding: 3.5rem 2.2rem 1.2rem;
    position: relative;
    width: 40rem;
    max-width: 100%;
    background-color: transparentize($palette-bg-dark, 0.25);

    border: 1px solid white;
    opacity: 0;

    section {
      display: flex;
      flex-wrap: wrap;
      margin: 1rem 0;
      align-items: center;
      justify-content: center;

      a {
        width: calc(80% - 45px);
        margin: 1rem 0 0 0;
        border-top-left-radius: $size-b-radius;
        border-top-right-radius: $size-b-radius;
      }
      a > img,
      img {
        width: 100%;
        display: block;
      }

      #projDesc {
        //background-color: $palette-bg;
        width: calc(80% - 45px);
        padding: 10px;
        border-bottom-left-radius: $size-b-radius;
        border-bottom-right-radius: $size-b-radius;
        border: 1px solid white;
        border-top: none;
      }
    }
  }

  #projects {
    width: 65rem;
  }
}
