#modal {
  @include vendor("flex-grow", "1");
  @include vendor("flex-shrink", "1");
  @include vendor("display", "flex");
  @include vendor("align-items", "center");
  @include vendor("justify-content", "center");
  @include vendor("flex-direction", "column");
  position: relative;
  max-width: 100%;
  z-index: 3;
  display: none;

  div {
    @include vendor("transform", "translateY(0.25rem)");
    @include vendor(
      "transition",
      (
        "opacity #{$duration-normal} ease-in-out",
        "transform #{$duration-normal} ease-in-out"
      )
    );
    display: none;
    padding: 3.5rem 2.2rem 1.2rem;
    position: relative;
    width: 40rem;
    max-width: 100%;
    background-color: transparentize($palette-bg-dark, 0.25);

    border: 3px solid white;
    opacity: 0;

    section {
      display: flex;
      flex-wrap: wrap;
      margin: 1rem 0;
      align-items: center;
      justify-content: center;

      article {
        @extend section;
      }

      h3 {
        margin-right: auto;
      }

      img {
        width: 100%;
        display: block;
      }

      p {
        text-indent: 2em;
        margin-top: 10px;
        margin-left: 2%;
        margin-right: auto;
        margin-bottom: 10px;
      }
    }
  }

  #resume {
    width: 45rem;
  }

  #projects {
    width: 40rem;
    section > h3 {
      margin-right: auto;
    }
  }
}

.devicon {
  width: 55px;
  height: 55px;
}
